@import '~assets/scss/components/module/heading';
@import '~assets/scss/components/module/under_common';
@import '~assets/scss/page/biz/biz-service-sec';

.page-choitore {
    min-height: 100vh;

    .heading-en {
        @include heading;

        .heading__img {
            background-position: 100% 40%;
            background-size: get_vw(340) auto;
        }

        &.under-en-title {
            height: get_vw(80);
            text-align: right;
            padding: 0 get_vw(20) 0 get_vw(70);
        }

        @media #{$media-sm} {
            .heading__img {
                background-size: get_vw_sp(150) auto;
            }

            &.under-en-title {
                height: get_vw_sp(40);
                padding: 0 get_vw_sp(7) 0 get_vw_sp(46);
            }
        }
    }

    .choitore__desc {
        @include under_desc(true);

        .desc__txt {
            > h3 {
                font-size: get_vw(16);
                letter-spacing: 0;
            }
        }

        @media #{$media-sm} {
            margin-top: get_vw_sp(150);

            .desc__txt {
                > h3 {
                    font-size: get_vw_sp(16);
                    line-height: 1.66;
                    letter-spacing: get_vw_sp(1);
                }
            }
        }
    }
}

.sec-price {
    margin-bottom: get_vw(40);

    @media #{$media-sm} {
        margin-bottom: get_vw_sp(20);
    }
}

.reserve-link {
    position: relative;
    background-color: $color-red;
    color: $color-white;
    font-size: get_vw(22);
    font-weight: 700;
    display: block;
    width: get_vw(300);
    height: get_vw(80);
    line-height: get_vw(80);
    text-align: center;
    margin: 0 auto get_vw(60);
    letter-spacing: get_vw(3.3);
    transition: $transition-hover;

    &:hover {
        color: $color-red;
        background-color: $color-white;

        &::after {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%205%206%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23F03329%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3E%E3%82%A2%E3%82%BB%E3%83%83%E3%83%88%201%3C%2Ftitle%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%202%22%3E%3Cg%20id%3D%22active%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C0%2C5%2C2.5v1L0%2C6V4.92L3.83%2C3%2C0%2C1.09Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: get_vw(12);
        transform: translateY(-50%);
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%205%206%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3E%E3%82%A2%E3%82%BB%E3%83%83%E3%83%88%201%3C%2Ftitle%3E%3Cg%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20data-name%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC%202%22%3E%3Cg%20id%3D%22active%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M0%2C0%2C5%2C2.5v1L0%2C6V4.92L3.83%2C3%2C0%2C1.09Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        background-size: get_vw(13) get_vw(16);
        width: get_vw(13);
        height: get_vw(16);
    }

    @media #{$media-sm} {
        width: get_vw_sp(160);
        height: get_vw_sp(44);
        padding: 0 1% 0 0;
        letter-spacing: get_vw_sp(1);
        font-size: get_vw_sp(14);
        line-height: get_vw_sp(44);

        &::after {
            right: get_vw_sp(6);
            background-size: get_vw_sp(5) get_vw_sp(6);
            width: get_vw_sp(5);
            height: get_vw_sp(6);
        }
    }
}
