@import '~assets/scss/components/module/heading';
@import '~assets/scss/components/module/under_common';

.page-greeting {
    min-height: 100vh;

    .heading-en {
        @include heading;

        .heading__img {
           background-position: 100% 40%;
           background-size: get_vw(340) auto;
        }

        &.under-en-title {
            height: get_vw(80);
            text-align: right;
            //padding: 0 get_vw(20) 0 get_vw(70);
            padding: 0 get_vw(20) 0 auto;
        }

        @media #{$media-sm} {
            .heading__img {
                background-size: get_vw_sp(150) auto;
            }

            &.under-en-title {
                height: get_vw_sp(40);
                //padding: 0 get_vw_sp(7) 0 get_vw_sp(46);
                padding: 0 get_vw(20) 0 auto;
            }
        }
    }

    .greeting__desc {
        @include under_desc(true);
        width: get_vw(400);

        > h1.large-ja {
            $height: get_vw(40);
            height: $height;

            .ja {
                line-height: $height;
            }
        }

        .desc__txt {
            > h3 {
                padding-bottom: $block-size;
            }
        }

        @media #{$media-sm} {
            > h1.large-ja {
                $height: get_vw_sp(20);
                height: $height;

                .ja {
                    line-height: $height;
                }
            }

            .desc__txt {
                > h3 {
                    padding-bottom: $block-size_sm;
                    line-height: 1.27;
                    font-size: get_vw_sp(18);
                }
            }
        }
    }

    // 代表あいさつ全体
    .greeting__greeting {
        display: flex;
        flex-direction: column;
        width: get_vw(800);
        margin: get_vw(100) auto get_vw(80);

        // 代表あいさつ
        > h2 {
            background-color: $color-red;
            $height: get_vw(40);
            height: $height;
            line-height: $height;
            font-size: get_vw(23);
            font-weight: 900;
            letter-spacing: get_vw(3);
            color: $color-white;
            max-width: get_vw(190);
            margin: 0 auto 0 0;
            padding: 0 get_vw(15);
        }

        // 文のラッパークラス
        &__wrap {
            background-color: $color-white;
            padding: $block-size * 2;

            > h3 {
                line-height: 1;
                font-size: get_vw(24);
                letter-spacing: get_vw(1);
                color: $color-skyblue;
                font-weight: 900;
                margin: 0 0 get_vw(40);
            }

            &__txt {
                font-size: get_vw(14);
                letter-spacing: get_vw(0.6);
                line-height: 1.8;

                &--head-mig {
                    font-size: 1.3em;
                    margin: 0 0 1em;
                }
            }

            &__signature {
                font-weight: 900;
                text-align: right;
                margin: get_vw(10) 0 0;
            }
        }

        @media #{$media-sm} {
            width: calc(100% - #{$block-size_sm * 5});
            margin: 0 0 0 $block-size_sm * 3;
            margin: get_vw_sp(50) auto get_vw_sp(40);

            // 代表あいさつ
            > h2 {
                $height: get_vw_sp(20);
                height: $height;
                line-height: $height;
                font-size: get_vw_sp(14);
                letter-spacing: get_vw_sp(2);
                max-width: get_vw_sp(120);
                padding: 0 get_vw_sp(12);
            }

            // 文のラッパークラス
            &__wrap {
                padding: $block-size_sm;

                > h3 {
                    line-height: 1.3;
                    font-size: get_vw_sp(20);
                    letter-spacing: get_vw_sp(1);
                    margin: 0 0 get_vw_sp(15);
                }

                &__txt {
                    font-size: get_vw_sp(12);
                    letter-spacing: get_vw_sp(0.5);
                    line-height: 1.8;
                }

                &__signature {
                    margin: get_vw_sp(10) 0 0;
                }
            }
        }
    }
}
