@import '~assets/scss/components/module/heading';
@import '~assets/scss/components/module/under_common';

::v-deep .page-privacy {
    min-height: 100vh;
}

::v-deep .heading-en {
    @include heading;

    .heading__img {
        background-position: 0 80%;
    }

    &.under-en-title {
        height: get_vw(80);
        text-align: right;
        padding: 0 get_vw(20) 0 get_vw(70);
    }

    @media #{$media-sm} {
        .heading__img {
            background-size: get_vw_sp(150) auto;
        }

        &.under-en-title {
            height: get_vw_sp(40);
            padding: 0 get_vw_sp(7) 0 get_vw_sp(46);
        }
    }
}

::v-deep .privacy__desc {
    @include under_desc(true);

    > h1.large-ja {
        $height: get_vw(40);
        height: $height;

        .ja {
            line-height: $height;
        }
    }

    @media #{$media-sm} {
        > h1.large-ja {
            $height: get_vw_sp(20);
            height: $height;

            .ja {
                line-height: $height;
            }
        }
    }
}

::v-deep .privacy__h2 {
    @include heading-h2;
    margin: $block-size * 2 auto $block-size get_vw(120);

    .ja {
        font-size: get_vw(23);
    }

    @media #{$media-sm} {
        margin: $block-size_sm * 2 auto $block-size_sm $block-size_sm;

        .ja {
            font-size: get_vw_sp(13);
        }
    }
}

::v-deep .privacy__txt {
    background-color: $color-white;
    font-size: get_vw(14);
    padding: $block-size;
    width: get_vw(900);
    margin: 0 auto $block-size get_vw(120);
    line-height: 1.9;

    .right {
        text-align: right;
    }

    // 一段下げたい部分
    > p {
        padding: 0 0 0 $block-size;
        line-height: 1.7;
    }

    a {
        text-decoration: underline;
    }

    @media #{$media-sm} {
        font-size: get_vw_sp(12);
        padding: $block-size_sm;
        width: calc(100% - #{$block-size_sm * 2});
        margin: 0 auto $block-size_sm;

        // 一段下げたい部分
        > p {
            padding: 0 0 0 $block-size;
            line-height: 1.7;
        }
    }
}
