@import '~assets/scss/components/module/heading';

::v-deep .page-recruit {
    min-height: 100vh;
}

::v-deep .heading-en {
    @include heading;

    .heading__img {
        background-position: 0 80%;
    }
    
    &.under-en-title {
        height: get_vw(80);
        display: flex;
        flex-direction: column;
        padding: 0 get_vw(15) 0 get_vw(30);
    }

    .en {
        width: 100%;
        line-height: get_vw(40);
        text-align: right;
    }

    .ja {
        width: 100%;
        line-height: get_vw(40);
        font-size: get_vw(20);
        text-align: right;
        padding: 0 get_vw(6) 0 0;
    }

    @media #{$media-sm} {
        .heading__img {
            background-size: get_vw_sp(150) auto;
        }

	&.under-en-title {
            height: get_vw_sp(40);
            padding: 0 get_vw_sp(7) 0 get_vw_sp(15);
        }

        .en {
            line-height: get_vw_sp(20);
            font-size: get_vw_sp(14);
        }

        .ja {
            line-height: get_vw_sp(20);
            font-size: get_vw_sp(12);
            padding: 0 get_vw_sp(2) 0 0;
        }
    }
}

::v-deep .job-type {
    width: get_vw(800);
    margin: get_vw(220) auto get_vw(80);
    border: 4px solid $color-skyblue;
    background-color: $color-white;

    // 職種選択タブ
    &__select {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        $height: get_vw(60);
        height: $height;

        .job-name {
            cursor: pointer;
            width: 50%;
            height: 100%;
            line-height: $height;
            color: $color-white;
            background-color: $color-skyblue;
            padding: 0 0 0 get_vw(20);
            font-weight: 900;
            font-size: get_vw(24);
            letter-spacing: get_vw(3);

            &.active {
                color: $color-skyblue;
                background-color: $color-white;
            }
        }
    }

    &__about {
        padding: get_vw(40);

        > h4 {
            background-color: $color-red;
            color: $color-white;
            $height: get_vw(20);
            height: $height;
            line-height: $height;
            width: get_vw(180);
            font-size: get_vw(18);
            font-weight: 900;
            letter-spacing: get_vw(2);
            padding: 0 0 0 get_vw(15);
            margin: 0 0 get_vw(15);
        }

        > p {
            font-size: get_vw(14);
            line-height: 2.2;
            letter-spacing: get_vw(0.5);

            &:not(:last-of-type) {
                margin: 0 0 get_vw(35);
            }
        }
    }

    @media #{$media-sm} {
        width: calc(100% - #{get_vw_sp(10)});
        margin: get_vw_sp(120) auto get_vw_sp(50);

        // 職種選択タブ
        &__select {
            $height: get_vw_sp(40);
            height: $height;

            .job-name {
                line-height: $height;
                padding: 0 0 0 get_vw_sp(16);
                font-weight: 900;
                font-size: get_vw_sp(15);
                letter-spacing: get_vw_sp(2);
            }
        }

        &__about {
            padding: get_vw_sp(30) get_vw_sp(20);

            > h4 {
                $height: get_vw_sp(20);
                height: $height;
                line-height: $height;
                width: get_vw_sp(140);
                font-size: get_vw_sp(14);
                letter-spacing: get_vw_sp(2);
                padding: 0 0 0 get_vw_sp(10);
                margin: 0 0 get_vw_sp(20);
            }

            > p {
                font-size: get_vw_sp(12);
                line-height: 2.2;
                letter-spacing: get_vw_sp(0.3);

                &:not(:last-of-type) {
                    margin: 0 0 get_vw_sp(35);
                }
            }
        }
    }
}

::v-deep .job-detail {
    width: get_vw(800);
    background-color: rgba($color-white, 0.8);
    margin: 0 auto get_vw(100);
    padding: get_vw(60) get_vw(40) get_vw(60);
    $height: get_vw(20);
    display: grid;
    grid-template-columns: get_vw(180) 1fr;
    grid-template-rows: minmax($height, auto);
    grid-column-gap: 0;
    grid-row-gap: get_vw(80);

    @include ie-only {
        display: flex;
        flex-wrap: wrap;
    }

    > dt {
        font-size: get_vw(18);
        font-weight: 900;
        line-height: 1;
        letter-spacing: get_vw(2);

        @include ie-only {
            width: get_vw(180);
            margin: 0 0 get_vw(80);
        }
    }

    > dd {
        font-size: get_vw(14);
        letter-spacing: get_vw(0.5);
        line-height: 2;

        @include ie-only {
            width: calc(100% - #{get_vw(180)});
            margin: 0 0 get_vw(80);
        }

        > a {
            text-decoration: underline;
        }
    }

    @media #{$media-sm} {
        width: calc(100% - #{get_vw_sp(10)});
        margin: 0 auto get_vw_sp(40);
        padding: get_vw_sp(20);
        $height: get_vw_sp(20);
        grid-template-columns: 100%;
        grid-template-rows: minmax($height, auto);
        grid-row-gap: 0;

        > dt {
            font-size: get_vw_sp(16);
            letter-spacing: get_vw_sp(2);
            margin: 0 0 get_vw_sp(15);
        }

        > dd {
            font-size: get_vw_sp(12);
            letter-spacing: get_vw_sp(0.3);
            line-height: 2;
            margin: 0 0 get_vw_sp(35);
        }
    }
}
